.jedag {
-webkit-animation: jedag_jedug 1s infinite; /* Safari 4+ */
-moz-animation: jedag_jedug 1s infinite; /* Fx 5+ */
-o-animation: jedag_jedug 1s infinite; /* Opera 12+ */
animation: jedag_jedug 1s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes jedag_jedug {
0%, 5% {
background-color: #FF3333;
}
5%, 10% {
background-color: #FF8000;
}
10%, 15% {
background-color: #FFFF00;
}
15%, 20% {
background-color: #80FF00;
}
20%, 25% {
background-color: #00FF00;
}
25%, 30% {
background-color: #00FF80;
}
30%, 35% {
background-color: #00FFFF;
}
35%, 40% {
background-color: #0080FF;
}
40%, 45% {
background-color: #0000FF;
}


45%, 50% {
background-color: #7F00FF;
}
50%, 55% {
background-color: #FF00FF;
}
55%, 60% {
background-color: #FF007F;
}
65%, 70% {
background-color: #808080;
}
75%, 80% {
background-color: #A0A0A0;
}
80%, 85% {
background-color: #FF3399;
}
85%, 90% {
background-color: #FF33FF;
}
90%, 95% {
background-color: #9933FF;
}
95%, 100% {
background-color: #3333FF;
}
}

.jedag-text {
    -webkit-animation: jedag_jedug_text 1s infinite; /* Safari 4+ */
    -moz-animation: jedag_jedug_text 1s infinite; /* Fx 5+ */
    -o-animation: jedag_jedug_text 1s infinite; /* Opera 12+ */
    animation: jedag_jedug_text 1s infinite; /* IE 10+, Fx 29+ */
    }
    
    @-webkit-keyframes jedag_jedug_text {
    100%, 95% {
    color: #FF3333;
    }
    95%, 90% {
    color: #FF8000;
    }
    90%, 85% {
    color: #FFFF00;
    }
    85%, 80% {
    color: #80FF00;
    }
    80%, 75% {
    color: #00FF00;
    }
    75%, 70% {
    color: #00FF80;
    }
    70%, 65% {
    color: #00FFFF;
    }
    65%, 60% {
    color: #0080FF;
    }
    60%, 55% {
    color: #0000FF;
    }
    
    
    55%, 50% {
    color: #7F00FF;
    }
    50%, 45% {
    color: #FF00FF;
    }
    45%, 40% {
    color: #FF007F;
    }
    40%, 35% {
    color: #808080;
    }
    35%, 30% {
    color: #A0A0A0;
    }
    30%, 25% {
    color: #FF3399;
    }
    25%, 20% {
    color: #FF33FF;
    }
    20%, 15% {
    color: #9933FF;
    }
    15%, 10% {
    color: #3333FF;
    }
    }

.circle {
border-radius: 50%;
align-items: center;
width: 200px;
height: 200px;
}

.square {
    align-items: center;
    width: 200px;
    height: 200px;
    }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .text-center {

    text-align: center;
  }

.rotate {
animation: rotation 0.2s infinite linear;
}

@keyframes rotation {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(359deg);
}
}

.zoom {
    animation: zoominoutsinglefeatured 0.1s infinite ;
}
  

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}